# Dont show messages in the bootloader
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_BOOTLOADER_LOG_LEVEL=0

CONFIG_LOG_BOOTLOADER_LEVEL_NONE=y
CONFIG_LOG_BOOTLOADER_LEVEL=0

CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_ATEM_DEBUG_MUTEX_CHECK=y
CONFIG_ATEM_STORE_SEND=y
